*.o
*.exe
studentai
studentai_struct
studentai_class
studentai_O1
studentai_O2
studentai_O3
test_abstract

studentai_*.txt
vargsiukai.txt
kietiakiai.txt
rezultatai.csv

build/
cmake-build-*/
html/
latex/

.vscode/
.idea/
*.swp
*.swo
*~
